body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    height: 500px; 
    background-color: #f2f2f2; 
}

.hero-image {
    position: relative;
    width: 100%;
    height: 100%;
}

.hero-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

section {
    padding: 50px;
}

.image-text {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.image-text img {
    width: 300px;
    height: 200px;
    margin-right: 20px;
    border-radius: 10px;
}
.hed{
    align-items: center;
}
.image-text2{
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.heading{
    align-items: left;
}